In [34]:
import pandas as pd

In [39]:
df=pd.read_csv("School_data.csv", index_col = 0)
df.sample(10)

     age  gender review education purchased
497   41    Male   Good        PG       Yes
864   28  Female   Good    School        No
699   51    Male   Good        PG        No
670   45    Male   Poor    School        No
236   59  Female   Good        UG       Yes
250   36    Male   Poor    School       Yes
956   50  Female   Good    School        No
325   59    Male   Poor        PG        No
363   49  Female   Good    School       Yes
480   21    Male   Poor        UG        No

In [40]:
df = df.iloc[:,2:]
df

    review education purchased
0     Good    School       Yes
1     Good    School       Yes
2     Poor        UG       Yes
3     Good    School        No
4     Poor    School       Yes
..     ...       ...       ...
995   Good        PG        No
996   Poor        PG       Yes
997   Good    School       Yes
998   Poor        PG       Yes
999   Good    School        No

[1000 rows x 3 columns]

In [49]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size = 0.2)

In [53]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [['Poor','Good'],['School', 'UG' , 'PG']])
oe.fit(x_train)
x_train=oe.transform(x_train)
x_test=oe.transform(x_test)

In [54]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder
le.fit(y_train)
LabelEncoder.transform(y_train)
LabelEncoder.tranform(y_test)

TypeError: LabelEncoder.fit() missing 1 required positional argument: 'y'